
$base-color: #ffffff;
$accent-color: #e7434e;
$dark-color: #1c1c1c;
$darken-color: #404040;
$light-color: #eff2f6;
$footer-color: #2a2b2c;



/*-------------------------------------header---------------------------------------*/
.bg-accent-color{
  background: gray;
}
.base-color{
  color:#FFFFFF;
}
.accent-color{
  color:#ff343d;
}
.bg-accent-light-color{
  background-color: #EAEFF3;
}


/*----------------------------------------------------------------------------*/

.gray-side{

  background-color: #EAEFF3;
}
.red-side{
  color:#ff343d;
}

/*---------------------------------------buttons-------------------------------------*/



/*--------------------------------------------------------------------------*/

